.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: 480px) {
    max-width: 440px;
  }
  @media screen and (min-width: 768px) {
    max-width: 618px;
    padding: 0 75px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 884px;
    padding: 0 70px;
  }
}
