.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (max-width: 479px) {
    width: 100%;
  }
  @media screen and (min-width: 480px) {
    width: 426px;
    padding: 0 20px;
  }
  @media screen and (min-width: 768px) {
    width: 700px;
    padding: 0 60px;
  }
  @media screen and (min-width: 1024px) {
    width: 1024px;
    padding: 0 60px;
  }
}
