%button-hover {
  background: $accent-color;
  border: none;
  color: $white-color;
}
%button {
  text-transform: uppercase;
  border-radius: 5px;
  color: $black-color;
  border: 1px solid $black-color;
  box-sizing: border-box;
  background: $white-color;
  font-weight: $main-weight;
  font-size: 12px;
  line-height: 16px;
}
