$accent-color: #ff6b01;
$white-color: #ffffff;
$error-color: #ff001b;
$bg-header-color: rgba(0, 0, 0, 0.56);
$black-color: #000000;
$card-grey-color: #8c8c8c;
$footer-bg-color: #f7f7f7;
$footer-text-color: #545454;
$main-font: 'Roboto', sans-serif;
$main-weight: 500;
$footer-weight: 400;
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
