<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="./index.html" class="logo-link">
        <svg class="icon-filmoteka">
          <use href="./images/icons/sprite.svg#icon-film"></use>
        </svg>
        <span class="logo-word">Filmoteka</span>
      </a>
      <a href="./index.html" class="home-link current-link">Home</a>
      <a href="./library.html" class="library-link">my library</a>
    </nav>
    <form class="form-search">
      <button class="search-button" type="submit">
        <svg class="icon-search"><use href="./images/icons/sprite.svg#icon-search"></use></svg>
      </button>
      <input
        class="search-input"
        type="text"
        name="query"
        autocomplete="off"
        placeholder="Поиск фильмов"
      />
    </form>
    <p class="error-text" id="search-error"></p>
  </div>
</header>
