<header class="header_library">
  <div class="container">
    <nav class="nav">
      <a href="./index.html" class="logo-link">
        <svg class="icon-filmoteka">
          <use href="./images/icons/sprite.svg#icon-film"></use>
        </svg>
        <span class="logo-word">Filmoteka</span>
      </a>
      <a href="./index.html" class="home-link">Home</a>
      <a href="./library.html" class="library-link">my library</a>
    </nav>

    <div class="library_buttons">
      <button class="librarybuttons watched-btn active" data-list="watched">Watched</button>
      <button class="librarybuttons queue-btn" data-list="queue">Queue</button>
    </div>
  </div>
</header>
