.modal {
  position: absolute;
  left: 50%;
  z-index: 3000;
  margin-bottom: 100px;
  transform: translate(-50%, -28%) scale(1);
  padding: 48px 20px 10px;
  background: $white-color;
  @media (min-width: 768px) and (max-width: 1023px) {
    width: 640px;
    padding: 42px 28px 20px;
    display: flex;
    top: -80px;
  }
  @media screen and (min-width: 1024px) {
    width: 882px;
    // height: 568px;
    padding: 50px 30px 40px;
    display: flex;
    top: -100px;
  }
}
.trailer_iframe {
  position: relative;
  margin-top: 30%;
  @media screen and (max-width: 516px) {
    width: 90vw;
  }
}
.trailer_close {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid orange;
  @media screen and(max-width: 516px) {
    margin: 20% -20px;
  }

  @media screen and (min-width: 517px) {
    top: 120px;
    right: 0;
  }
}

.modal_img {
  display: block;
  width: 100%;
  margin: 0 auto;
  @media screen and (min-width: 320px) {
    height: 356px;
  }
  @media screen and (min-width: 768px) {
    width: 264px;
    height: 374px;
  }
  @media screen and (min-width: 1024px) {
    width: 356px;
    height: 478px;
  }
}
.modal_buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 100%;
  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
  @media screen and (min-width: 1024px) {
    width: 330px;
  }
}
.trailer {
  @extend %button;
  padding: 10px;
  display: block;
  margin: 10px 0;
  width: 140px;
  border: none;
  background: $footer-bg-color;
}
.youtube-icon {
  width: 20px;
  height: 20px;
  fill: red;
  display: inline;
  position: absolute;
  margin-top: -3px;
  margin-left: 10px;
}
.button {
  @extend %button;
  width: 112px;
  height: 44px;
  font-size: 11px;
  @media screen and (min-width: 768px) {
    font-size: 12px;
    width: 145px;
  }
  @media screen and (min-width: 1024px) {
    width: 156px;
  }
}

.button:hover,
.button:active,
.trailer:hover,
.trailer:active {
  @extend %button-hover;
}
.text_content {
  margin-top: 30px;
  @media screen and (min-width: 320px) {
    width: 240px;
  }
  @media screen and (min-width: 768px) {
    width: 320px;
    margin-left: 30px;
    margin-top: 0;
  }
  @media screen and (min-width: 1024px) {
    display: block;
    width: 396px;
  }
}
.text_content__name {
  font-weight: $main-weight;
  text-transform: uppercase;
  color: $black-color;
  font-size: 20px;
  line-height: 23.44px;

  @media screen and (min-width: 1024px) {
    font-size: 30px;
    line-height: 35.16px;
  }
}
.text_content__info {
  margin-top: 20px;
}
.text_content__trow {
  margin-top: 10px;
  font-size: 12px;
  line-height: 16px;
}

.text_content__data,
.text_content__slash {
  color: $card-grey-color;
}
.text_content__data:nth-child(odd) {
  margin-right: 40px;
  display: inline-block;
}

.text_content__data:nth-child(even) {
  color: $black-color;
}
.text_content__rate,
.genres {
  padding: 2px 4px;
  background: $footer-bg-color;
  border-radius: 5px;
}
.text_content__rate:hover,
.genres:hover {
  background: $accent-color;
  color: $white-color;
}
.modal_close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 25px;
  right: 10px;
  transform: translate(-50%, -52%) scale(1);
  background: transparent;
  z-index: 4000;
  border: 1px solid red;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    right: 15px;
  }
  @media screen and (min-width: 1024px) {
    right: 15px;
  }
}
.modal_close:hover .icon-modal-close,
.modal_close:active .icon-modal-close,
.modal_close:focus .icon-modal-close {
  fill: $accent-color;
}

.icon-modal-close {
  width: 14px;
  height: 14px;
  color: currentColor;
  fill: $black-color;
  z-index: 4001;
}
.overview_title {
  text-transform: uppercase;
  margin: 20px 0 10px 0;
  font-size: 12px;
  line-height: 16px;
}
