.movie {
  cursor: pointer;
}
.movie__title {
  padding-left: 5px;
  margin-top: 5px;
  font-family: $main-font;
  text-transform: uppercase;
  font-weight: $main-weight;
  font-size: 12px;
  line-height: 16px;
  color: $black-color;
}
.movie__description {
  padding-left: 5px;
  font-family: $main-font;
  font-weight: $main-weight;
  font-size: 12px;
  line-height: 16px;
  color: $accent-color;
}
.movie__rating {
  color: $white-color;
  background-color: $accent-color;
  padding: 1px 10px;
  line-height: 16px;
  border-radius: 5px;
}

.empty-list-message {
  font-size: 16px;
}

.movie__img {
  object-fit: cover;
}
