.list-movies {
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: repeat(20, 440px);
  grid-row-gap: 20px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    grid-template-rows: repeat(10, 440px);
    grid-template-columns: repeat(2, 295px);
    grid-gap: 30px;
  }
  @media screen and (min-width: 1024px) {
    grid-template-rows: repeat(7, 440px);
    grid-template-columns: repeat(3, 275px);
  }
}

.movies {
  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 50px;
  }
}
